@media (min-width: @desktop-width) {
  .form__button--enter {
    width: 151px;
    height: 104px;
    border: none;
    background-color: @blue-color;
    color: #ffffff;
    font-size: 18px;
    line-height: 21px;
  }

  .form__button--reg {
    width: 176px;
    height: 104px;
    border: none;
    background-color: #ffffff;
    color: @blue-color;
    font-size: 18px;
    line-height: 21px;
  }
}