.list {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: @text-main;
}

@media (min-width: @desktop-width) {
  .list__item {
    margin-left: 19px;
    margin-bottom: 3px;
  }
}