.main-header {
  width: 375px;
  min-height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid @gray-color;
}

.main-header__logo {
  margin-top: 20px;
  margin-bottom: 8px;
  margin-left: 28px;
}

.main-header__form--closed {
  //display: none;
}

.main-header__search {
  margin-top: 8px;
  margin-left: 188px;
}

.main-header__nav {
  margin-top: 3px;
  //margin-left: 30px;
  background-color: @blue-color;
}

@media (min-width: @desktop-width) {
  .main-header {
    width: 1440px;
    min-height: 104px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    //justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .main-header__logo {
    min-width: 136px;
    min-height: 104px;
    margin: 0;
    position: relative;
    border-right: 1px solid @gray-color;
  }

  .main-header__logo img {
    position: absolute;
    top: 40px;
    left: 34px;
  }

  .main-header__nav {
    min-width: 307px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 280px;
  }

  .main-header__search {
    margin-left: 0;
    margin-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .main-header__form {
    min-width: 327px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border-left: 1px solid @gray-color;
  }

  .main-header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-right: 40px;
    background-color: inherit;
  }
}
