body {
  width: 375px;
  font-family: "Roboto";
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  background-color: #ffffff;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.list {
  list-style: none;
  padding: 0;
}

@media (min-width: @desktop-width) {
  body {
    width: 1440px;
  }
}
